<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form
          class="form"
          enctype="multipart/form-data"
          method="post"
          action="/save/user"
        >
          <div class="row">
            <div class="col-6 offset-3">
              <div class="display-3 my-5 text-center">Enter Data</div>
              <input
                class="form-control"
                type="text"
                placeholder="Username"
                name="Username"
              />
              <input
                class="form-control"
                type="Password"
                placeholder="Password"
                name="Password"
              />
              <input class="form-control" type="submit" class="btn btn-success" />
            </div>
          </div>
        </form>
      </div>
</body>
</html>

